doctype html

link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/ctrl/index.css')

.index-view
    .attack_cooldown_wrapper
        .attack_cooldown_text
        .attack_cooldown

p
    | Grumpy wizards make toxic brew for the evil Queen and Jack.

ul.log
    li.entry welcome!

script(src='/build/script.js')
//script(src='/js/lib/jquery-ajax-2.1.1.min.js')
//script(src='/js/lib/underscore-1.8.3.min.js')
//script(src='/js/lib/backbone-1.1.2.min.js')
//script(src='/js/lib/require-2.1.17.min.js')
//script(src='/js/proto/Base.js')
//script(src='/js/proto/Player.js')
//script(src='/js/ctrl/IndexView.js')
