doctype html

link(rel='stylesheet', href='/build/style.css')

.wrapper
    ul.header
        li.logo
            img.voidscout_logo(src="/img/logo_voidscout.png", alt="")
        li.combat.active combat
        li.trade trade
        li.guild guild
        li.some other?

    .experience_bar_view
        .player_experience_bar_text
        .player_experience_bar.animate

    .health_bar_view
        .player_health_bar_text
        .player_health_bar.animate

    .container.container_left
        .items_view.worn_items_view
            .item_slot.cape cape
            .item_slot.helmet
                div.slot_name helmet
                div.item_name Iron Sword 5
                div.bonus +5 Attack
                div.bonus +1 Armor
            .item_slot.amulet amulet
            .item_slot.wrists wrists
            .item_slot.chest chest
            .item_slot.gloves gloves
            .item_slot.ring ring
            .item_slot.legs legs
            .item_slot.bracelet bracelet
            .item_slot.sword sword
            .item_slot.boots boots
            .item_slot.shield shield
    .container.container_right
        .index_view
            .attack_cooldown_wrapper
                .attack_cooldown_text
                .attack_cooldown
            button.auto_attack_toggle Start auto attack

        .items_view.inventory_items_view

        //TODO Make auto attack target selection

        p
            | Grumpy wizards make toxic brew for the evil Queen and Jack.

        ul.log
            li.entry welcome!
            li.entry Unknown has joined the game.
            li.entry.entry_lightblue Current mission - Defeat 20 plagued rats.
            li.entry.entry_red Failed to initiate connection.

        .chat_view
            .chat_messages
            .chat_button

script#item_view_template(type="text/template")
    <div><%= name %></div>
    <div><%= min_equip_level %></div>
    <div><%= bonus %></div>

script#inventory_item_overlay_view_template(type="text/template").
    <div class=item_overlay>
        <div class="item_name"><%= name %></div>
        <span class="item_type"><%= type %></span>
        <span class="min_equip_level"><%= min_equip_level %></span>
        <div style="clear: left;"></div>
        <br>
        <% _.each(bonus, function(value, key) { %>
            <div class="item_bonus"><%= "+" + value + " " + key %></div>
        <% }); %>
    </div>

script(data-main="js/voidscout.js" src="js/lib/require-2.1.17.min.js")
