@font-face
{
    font-family: 'Kreon-Regular';
    src: local('Kreon-Regular'), url('../fonts/Kreon-Regular.ttf') format('truetype');
}
html {
    overflow-y: scroll;
    font-family: 'Kreon-Regular', serif;
    font-size: 16px;
}
body, html {
    background: #dadada;
}