doctype html

link(rel='stylesheet', href='/build/style.css')

.index_view
    .attack_cooldown_wrapper
        .attack_cooldown_text
        .attack_cooldown
    button.auto_attack_toggle Start auto attack

.player_view
    .player_experience_bar_wrapper
        .player_experience_bar_text
        .player_experience_bar.animate
    .player_name
    .player_kills

//TOOD Make auto attack target selection

p
    | Grumpy wizards make toxic brew for the evil Queen and Jack.

ul.log
    li.entry welcome!
    li.entry Unknown has joined the game.
    li.entry.entry_lightblue Current mission - Defeat 20 plagued rats.
    li.entry.entry_red Failed to initiate connection.

script(data-main="js/voidscout.js" src="js/lib/require-2.1.17.min.js")
