.attack_cooldown_wrapper {
  background #888
  border 1px solid #000
  border-radius 3px
  box-shadow 0 0 3px #333 inset
  position relative
  width 515px
}
.attack_cooldown_text {
  color #eee
  font-weight bold
  font-family Arial
  line-height 20px
  position absolute
  text-align center
  width 515px
}
.attack_cooldown {
  background #444
  border-right 1px solid #000
  box-shadow 0 0 4px #237
  height 20px
  width 100%
}
.attack_cooldown.animate {
  transition-duration 4000ms
  transition-property all
  transition-timing-function linear
}

.experience_bar_view,
.health_bar_view {
  background #888
  border 1px solid #000
  box-shadow 0 0 3px #aaa inset
  box-sizing border-box
  position relative
  width 100%
}
.experience_bar_view {
  border-radius 2px 2px 0 0
  margin-top 8px
}
.health_bar_view {
  border-top-width 0
  border-radius 0 0 2px 2px
  margin-bottom 12px
}
.player_experience_bar_text,
.player_health_bar_text {
  color #222
  font-size 9px
  font-weight bold
  font-family Arial
  line-height 11px
  position absolute
  text-align center
  text-shadow 0 0 5px #fff
  width 800px
}
.player_experience_bar,
.player_health_bar {
  background #444
  border-right 1px solid #000
  box-shadow 0 0 4px #237
  height 9px
  width 0
}
.player_experience_bar.animate,
.player_health_bar.animate {
  transition-duration 400ms
  transition-property all
  transition-timing-function linear
}
.log {
  background #888
  border 1px solid #000
  border-radius 3px
  box-shadow 0 0 3px #333 inset
  box-sizing border-box
  font-size 16px
  padding 5px
  position relative
  width 515px
  .entry {
    color white
    font-size 0.8em
    list-style none
    text-shadow 0 0 3px #000
  }
  .entry.entry_lightblue {
    color #dff2ff
  }
  .entry.entry_red {
    color #ff4444
  }
  .entry.entry_yellow {
    color yellow
  }
}

.items_view {
  list-style none
  padding 5px
  margin 0
  &.worn_items_view {
    .inventory_item_overlay_view {
      left 33px
    }
  }
  &.inventory_items_view {
    .inventory_item_overlay_view {
      right 33px
    }
  }
  .item_slot {
    background #f4f4f4
    border 1px solid #666
    border-radius 4px
    box-shadow 0 0 10px #888 inset, 0 0 2px #dff2ff
    cursor pointer
    display inline-block
    font-size 11px
    height 70px
    margin 5px
    position relative
    text-align center
    text-transform capitalize
    vertical-align top
    width 67px
    &:hover {
      background #fff
      box-shadow 0 0 10px #555 inset, 0 0 2px #dff2ff
    }
    p {
      margin 2px
    }
    .inventory_item_overlay_view {
      background #333
      border 1px solid #000
      border-radius 3px
      font-size 12px
      opacity 0.9
      padding 5px 10px
      position absolute
      top 35px
      width 120px
      z-index 1000

      .item_overlay {
        .item_name {
          color green
          font-size 1.5em
          text-align left
        }
        .item_type {
          color #aaa
          font-size 1.2em
          float left
          text-align left
          width 50%
        }
        .min_equip_level {
          color red
          float right;
          text-align right
          width 50%
          &.available {
            color green
          }
          &.unavailable {
              color red
          }
        }
        .item_bonus {
          text-align left
          color limegreen
        }
      }
    }
  }
}